@font-face{
    font-family: Avenir;
    src: url("./fonts/Avenir_95_Black.ttf");
}
@font-face{
    font-family: "ASAP-Semi-Bold";
    src: url("./fonts/FontsFree-Net-Asap-SemiBold.ttf")
}

* {
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
}

h2 {
    font-family: "ASAP-Semi-Bold", Avenir;
    color: rgb(239,76,54);
}
body {
    background: rgb(120, 33, 27);
    height: 100vh;
}
main {
    background: rgb(239,76,54);
    max-width: 1280px;
    position: relative;
    /* height: 100%; */
}
header {
    background: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    height: 50px;
}
#brand-logo{
    max-width: 40px;
    margin-left: 10px;
}
#brand-name{
    font-family: "ASAP-Semi-Bold";
    font-size: 40px;
    /* align-self: center; */
    margin: 0px;
}

content {
    display: flex;
    padding-bottom: 75px;
}

nav {
    flex: 1;
    margin: 10px;
}
#calendar {
    background: white;
    border-radius: 10px;
    height: 250px;
    margin-bottom: 150px;
}
#menu {
    height: 100%;
    padding: 0;
}
#menu li{
    list-style-type: none;
}
#menu li button {
    font-family: Avenir;
    font-size: 24px;
    color: white;
    background: none;
    border: none;
    padding: 10px;
    width: 100%;
    margin: 10px auto;
}
#menu li button:hover {
    cursor:pointer;
    background: white;
    color: rgb(239,76,54);
    border-radius: 10px;
}
#issues {
    font-size: 16px;
    display: block;
}


#welcomePage {
    flex: 3;
    background: white;
    margin: 10px;
    border-radius: 10px;
    width: 100%;
}
#sectionTitle {
    background: rgb(120, 33, 27);
    color: white;
    border-radius: 10px 10px 0 0;
    padding: 10px;
}
#welcomeMessage {
    padding-top: 25%;

}

footer {
    font-family: Avenir;
    background: white;
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 20px;
    color: rgb(239,76,54);
}

#eventList {
    padding: 0;
    margin: 10px;
}

.eventTag {
    background: rgb(239,76,54);
    border-radius: 10px;
    list-style-type: none;
    display: flex;
    margin: 10px 0;
}
.eventDate {
    font-family: Avenir;
    align-self: center;
    color:rgb(120, 33, 27);
    margin: 5px;
    width: 50px;
}
.divider {
    height: 50px;
    background: white;
    width: 3px;
    border-radius: 5px;
    align-self: center;
}
.eventDetails {
    flex: 4;
    display: flex;
    padding: 3px;
}
.eventInfo {
    font-family: Avenir;
    align-self: center;
    color: white;
}
.eventName, .hostedBy, .checkIn {
    text-align: left;
}
.eventImg{
    align-self: center;
}
.eventImg img {
    align-self: center;
    border-radius: 10px;
    padding: 3px;
}
.dropArrow {
    margin: 5px;
    align-self: center;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-left: 20px solid white;
    border-bottom: 20px solid transparent;
}
.activeArrow {
    margin: 5px;
    align-self: center;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-left: 20px solid white;
    border-bottom: 20px solid transparent;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.selectedEvent {
    list-style-type: none;
    background: rgb(231, 231, 231);
    margin: -10px 30px;
}
.selectedEventHeader img{
    width: 100%;
    height: 100%;
}
.selectedEventVideo img{
    width: 75%;
}
.selectedEventContent{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    padding: 10px 0;
    width: 75%;
}